@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Capsules-500";
  src: url("/fonts/Capsules-500.otf") format("opentype");
} */

@font-face {
  font-family: "PPAgrandirWideBold";
  src: url(/fonts/ppagrandirwidebold.woff2) format("woff2");
}

@font-face {
  font-family: "PPAgrandirMedium";
  src: url(/fonts/ppagrandirmedium.woff2) format("woff2");
}

@layer base {
  html,
  body,
  div {
    font-family: "PPAgrandirMedium";
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "PPAgrandirWideBold";
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  h2 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-2xl;
    @apply font-medium;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
