@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Capsules-500";
  src: url("/fonts/Capsules-500.otf") format("opentype");
} */


@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }

  h2 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-2xl;
    @apply font-medium;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
